
.civil1 {
  display: flex;
justify-content: space-between;
margin-left: 200px;
margin-right: 200px;
} 

.civil2 {
  position: relative;
  margin-left: 50%;
  background-color: yellow;
}

.civil_img{
  height: 200px;
  border-radius: 10px;
}

.civil22 {
  position: relative;
  margin-left: -34%;
}
.civil23{
  margin-top: -50px;
  margin-left: -15%;
}
.civil24{
  margin-top: -50px;
  margin-left: -35%;
}
.civil25{
  margin-top: -100px;
  margin-left: -15%;
}
.civil_img1 {
 height: 200px; 
 width: 300px;
 position: relative;
 border-radius: 10px;
 background-color: aliceblue;
 padding: 16px;
}

.civil3 {
  height: 100px;
  justify-content: center;
  text-align: center;
}

.civil4 {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;

}

.civil4 > div{
  max-width: 200px;
  min-height: 100px;
  margin-right: 5px;
  background-color: white;

}
.civil5 {
  display: flex;
  justify-content: space-evenly;
  margin-top: -100px;
  background-color: #1f2851;
  padding-top: 100px;
  padding-bottom: 150px;

}
.build_img {
  margin-top: -100px;
  border-radius: 10px;
  margin-left: 400px;
}
.empty {
height: 200px;
width: 50%;
background-color: yellow;
margin-top: -150px;
margin-left: 50%;

}
.text {
  margin-top: -150px;
  width: 400px;
  min-height: 200px;
  margin-left: 55%;
  background-color: white;
  position: relative; 
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 5px;
  font-size: 12px;
}
.maybe {
  display: flex;
  justify-content: space-between;
  height: 350px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.maybe1 {
  width: 45%;
  background-color: #1f2851;
}
.maybe2 {
  width: 55%;
  background-color: yellow;
}
.maybe2 > div{
  margin-left: 100px;
  margin-top: 100px;
}
.white_img {
  border-radius: 10px;
  margin-left: 70%;
  margin-top: 60px;
  position: relative;
}
.drawing {
  display: flex;
  margin-bottom: 20px;

}
.drawing1_img1{
  height: 200px;
  width: 200px;
  margin-top: 50px;
  margin-left: 400px;
}
.drawing2_img2 {
  height: 250px;
  width: 300px;
  margin-left: 50px;
}


