
.civil1 {
  display: flex;
/* border: 1px solid blue; */
justify-content: space-between;
margin-left: 200px;
margin-right: 200px;
} 

.civil2 {
  position: relative;
  /* border: 1px solid blue; */
  margin-left: 50%;
  background-color: yellow;
}

.civil_img{
  height: 200px;
  border-radius: 10px;
}

.civil22 {
  position: relative;
  margin-left: -34%;
}
.civil23{
  margin-top: -50px;
  margin-left: -15%;
}
.civil24{
  margin-top: -50px;
  margin-left: -35%;
}
.civil25{
  margin-top: -100px;
  margin-left: -15%;
}
.civil_img1 {
 height: 200px; 
 width: 300px;
 position: relative;
 border-radius: 10px;
 background-color: aliceblue;
 padding: 16px;
}

.civil3 {
  height: 100px;
  justify-content: center;
  text-align: center;
}

.civil4 {
  display: flex;
  justify-content: space-between;
  background-color: white;
 
  margin-left: 50px;
  margin-right: 50px;
}

.civil4 > div{
  max-width: 200px;
  min-height: 100px;
}

